.freeDelivery {
  line-height: 26px;
  text-align: left;

  .deliveryInfo {
    margin-bottom: 7%;

    .deliveryDetail {
      text-decoration: underline;
    }
    font-size: 14px;
  }

  .todayDeliveryInfo {
    margin-bottom: 7%;
    font-size: 14px;

    .todayDeliveryDetail {
      text-decoration: underline;
    }
  }

  .afterServiceInfo {
    font-size: 14px;

    .serviceDetail {
      text-decoration: underline;
    }
  }
}
