.emptyHeartBtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin-top: 5%;

  .cartBtn {
    margin-bottom: 3%;
    padding-top: 5.5%;
    padding-bottom: 5.5%;
    border-radius: 50px;
    background-color: black;
    color: white;
  }

  .wishListBtn {
    padding-top: 5.5%;
    padding-bottom: 5.5%;
    border: 1px solid rgba(0, 0, 0, 0.322);
    border-radius: 50px;
    background-color: white;
  }

  .emptyHeartBtn {
    width: 3%;
    border: transparent;
    background-color: white;

    .emptyHeartImg {
      width: 100%;
    }
  }
}
