@mixin flex($justify: center, $align: center) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.password {
  @include flex();
  width: 100%;
  height: 100%;

  .passwordBox {
    flex-direction: column;
    width: 460px;

    .header {
      max-width: 460px;
      height: 100%;

      .logoBox {
        margin: 24px 0px;
        margin-right: auto;

        .swooshLogo {
          width: 50px;
        }
      }

      .passwordGuide {
        margin-bottom: 12px;
        font-size: 28px;
        font-weight: normal;
        line-height: 32px;
      }
    }

    .userEmailContainer {
      flex-direction: column;
      width: 100%;
      max-width: 460px;

      .userEmailBox {
        margin: 0px 0px 16px 0px;
        margin-right: auto;

        .userEmail {
          font-size: medium;
        }

        .edit {
          padding: 0px 10px;
          border: none;
          background-color: transparent;
          color: #8e8e8e;
          font-size: medium;
          text-align-last: center;
          text-decoration-line: underline;
        }

        .edit:hover {
          cursor: pointer;
        }
      }

      .passwordInputBox {
        width: auto;
        min-height: 84px;
        padding-top: 20px;

        .passwordInput {
          width: 88%;
          height: 50px;
          padding: 1px 2px;
          padding-right: 40px;
          padding-left: 10px;
          border-width: 1px;
          border-radius: 8px;
          background-image: url(/assets/eye-regular.png);
          background-repeat: no-repeat;
          background-position: 98%;
          background-size: 20px;
          font-size: medium;
        }

        .passwordInput:focus {
          outline: none;
        }
      }

      .findPwdBox {
        max-width: 368px;

        .findPwd {
          border: none;
          background-color: transparent;
          color: #8e8e8e;
          font-size: medium;
          line-height: 1.5;
          text-decoration-line: underline;
        }

        .findPwd:hover {
          cursor: pointer;
        }
      }

      .loginBtnBox {
        display: flex;
        width: 100%;
        padding: 30px 0px;

        .loginBtn {
          margin-left: auto;
          padding: 10.5px 20px;
          border: none;
          border-radius: 30px;
          background-color: black;
          color: white;
          font-size: medium;
        }

        .loginBtn:hover {
          background-color: gray;
          cursor: pointer;
        }
      }
    }
  }
}
