@import '../../../styles/mixin';

.function {
  @include flex(center, center);
  gap: 20px;

  .searchBar {
    width: 180px;
    height: 40px;
    padding: 0px 10px 0px 60px;
    border: none;
    border-radius: 100px;
    outline-style: none;
    background: url('../Search/images/search.png') center no-repeat;
    background-color: #f5f5f5;
    background-position: 10px;
    font-size: 17px;

    &::placeholder {
      font-size: 17px;
    }

    &:hover {
      background-color: #e5e5e5;
    }
  }

  .navIcon {
    cursor: pointer;
  }
}
