@import '../../../styles/mixin.scss';

.product {
  margin-bottom: 130px;

  .productImg {
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .productDesc {
    @include flex(left, left);
    flex-direction: column;
    height: 100px;
    margin-bottom: 50px;
    gap: 5px;
  }
}
