@import '../../../styles/mixin.scss';

.newMenuBox {
  position: absolute;
  top: 100%;
  left: -31%;
  width: 100vw;
  height: 100vh;
  margin: auto;

  .newMenuBoxWrapper {
    @include flex(space-around, flex-start);
    flex-direction: row;
    width: 100%;
    height: 350px;
    padding: 40px 50px;

    .itemWrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .itemList {
        cursor: pointer;

        &[id='0'] {
          font-weight: bold;
        }
      }
    }
  }

  .blur {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    opacity: 0.3;

    &::after {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #eeeeee;
      top: 0;
      left: 0;
      opacity: 0.5;
    }
  }
}
