@import '../../styles/mixin';
$cursor: pointer;
.main {
  // padding-top: 100px;
  .bottomCategory {
    @include flex(center, center);

    .categoryName {
      margin-right: 100px;
      float: left;
      font-weight: bold;
    }
  }
}
