@import '../../styles/mixin';

.productList {
  padding-top: 200px;

  .contentWrapper {
    @include flex(space-between, null);
    z-index: -1;
    height: 100vh;
    gap: 30px;

    .productWrapper {
      @include position(sticky, 20%, null, nul, null);
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(3, 0.8fr);
      grid-template-rows: repeat(3, 1.5fr);
      margin-top: 100px;
      margin-right: 20px;
      overflow-y: scroll;
    }

    .clickedWrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 100px;
      margin-bottom: 30px;
      margin-left: 40px;
      overflow-y: scroll;
    }
  }

  .buttonWrapper {
    @include flex(center, center);
    padding-top: 30px;

    button {
      border-style: none;
      background-color: white;
      font-size: 16px;
    }
  }
}
