@import '../../../styles/mixin';

.aside {
  display: flex;
  z-index: 1;
  flex-direction: column;
  width: 240px;
  height: 100%;
  margin-top: 80px;
  margin-left: 50px;
  padding-bottom: 30px;
  overflow: auto;
  overflow-y: scroll;
  background-color: white;
  gap: 20px;

  .aside::-webkit-scrollbar {
    width: 5px;
  }

  .categoryWrapper {
    padding: 20px 0px;
    border-bottom: 1px solid lightgray;

    .categoryLink {
      color: black;
      text-decoration: none;

      .categoryList {
        margin-bottom: 10px;
      }
    }
  }

  .title {
    @include flex(space-between, center);
    margin-bottom: 20px;
  }

  .genderWrapper {
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
  }
  .colorWrapper {
    @include flex(null, null);
    flex-direction: column;
    width: 240px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
  }

  .asideBtn {
    border-style: none;
    outline: none;
    background-color: white;

    .asideIcon {
      width: 16px;
      height: 16px;
    }
  }
}
