@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin paymentTitle {
  font-size: 23px;
  font-weight: bold;
}
@mixin edit {
  font-weight: bold;
  border-bottom: 1px solid black;
  cursor: pointer;
}
@mixin btn {
  padding: 15px;
  border-radius: 30px;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
}
@mixin btnHover {
  opacity: 0.3;
}
@mixin labelMargin {
  margin-right: 10px;
}
@mixin inputCheck {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 12px;
}
