@import '../../../styles/mixin.scss';

.completedOrder {
  @include flex(center, flex-start);
  flex-direction: column;
  padding: 20px;
  gap: 10px;

  .paymentTitle {
    @include paymentTitle;
  }

  .termsForm {
    padding: 40px 0px;
    .terms {
      text-decoration: underline;
    }
  }

  .orderBtnWrapper {
    @include flex(right, center);
    width: 630px;

    .orderBtn {
      @include btn;
      width: 100px;
    }
  }
}
