@import '../../../styles/mixin.scss';

.paymentBox {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;

  .paymentTitle {
    @include paymentTitle;
  }

  .promotionForm {
    margin: 40px 0px;
    padding-left: 10px;

    .promotion {
      margin-right: 10px;
    }
  }

  .paymentOptionTitle {
    padding-bottom: 15px;
    font-weight: bold;
  }

  .paymentOptionForm {
    padding-left: 10px;

    .paymentOption {
      margin-right: 10px;
    }
  }

  .btnWrapper {
    @include flex(center, flex-end);
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;

    .orderBtn {
      @include btn;
      width: 100px;
    }

    .orderDesc {
      color: gray;
      font-size: 15px;
    }
  }
}
