.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-top: 170px;
  margin-left: 24%;
  font-size: 16px;

  &:hover .hiddenCategory {
    display: flex;
  }

  .categoryBox {
    width: 25%;
    .categoryName {
      margin-bottom: 24px;
    }

    .categoryDetail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: rgb(143, 143, 143);
      line-height: 37px;
    }
  }

  .defaultCategory {
    display: flex;
    justify-content: space-between;
  }
}
