@import 'src/styles/mixin';

.newUser {
  @include flex();
  width: 100%;
  height: 100%;

  .newUserBox {
    flex-direction: column;
    width: 460px;

    .header {
      max-width: 460px;
      height: 100%;

      .logoBox {
        margin: 24px 0px;
        margin-right: auto;

        .swooshLogo {
          width: 50px;
        }
      }

      .newUserGuide {
        margin-bottom: 12px;
        font-size: 28px;
        font-weight: normal;
        line-height: 32px;
      }

      .codeSent {
        padding: 5px 0px;
        font-size: medium;
      }
    }

    .newUserEmailBox {
      margin: 0px 0px 16px 0px;
      margin-right: auto;

      .newUserEmail {
        font-size: medium;
      }

      .edit {
        padding: 0px 10px;
        border: none;
        background-color: transparent;
        color: #8e8e8e;
        font-size: medium;
        text-align-last: center;
        text-decoration-line: underline;
      }

      .edit:hover {
        cursor: pointer;
      }
    }

    .signupContainer {
      width: 460px;
      gap: 13px;

      .nameBox {
        display: flex;
        max-width: 460px;
        gap: 23px;
      }

      .newUserPwdBox {
        padding: 10px 0px;

        .pwdInputBox {
          width: 460px;

          .pwdInput {
            width: 100%;
            height: 60px;
            padding-right: 40px;
            padding-left: 10px;
            border-width: 1px;
            border-radius: 8px;
            font-size: medium;
            &:focus {
              outline: none;
            }
          }
        }

        .pwdRules {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 50px;
          margin: 10px 0px 0px 10px;
          color: gray;
          font-size: small;
        }
      }

      .defaultShopping {
        width: 460px;
        padding: 10px 0px;
        select {
          width: 100%;
          height: 60px;
          padding: 1px 2px;
          padding-right: 40px;
          padding-left: 10px;
          border-width: 1px;
          border-radius: 8px;
          background-image: url(/assets/angle-down-solid.png);
          background-repeat: no-repeat;
          background-position: 98%;
          background-size: 20px;
          color: gray;
          font-size: medium;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          &:focus {
            outline: none;
          }
        }
      }

      .newUserBirthInput {
        width: 460px;
        height: 60px;
        padding: 1px 2px;
        padding-right: 40px;
        padding-left: 10px;
        border-width: 1px;
        border-radius: 8px;
        background-image: url(/assets/calendar-regular.png);
        background-repeat: no-repeat;
        background-position: 98%;
        background-size: 20px;
        color: gray;
        font-size: medium;

        &::-webkit-inner-spin-button,
        &::-webkit-calendar-picker-indicator {
          display: none;
        }
        &:focus {
          outline: none;
        }
        &::before {
          content: attr(placeholder);
          width: 100%;
        }
        &:focus::before,
        &:valid::before {
          display: none;
        }
      }

      // .newUserBirthInput::placeholder {
      //   font-size: medium;
      // }
      // TODO: 적용이 안되는 이유

      .getReward {
        margin: 10px 0px 0px 10px;
        color: gray;
        font-size: small;
      }
    }

    .agreeCheckBox {
      display: flex;
      align-items: center;
      margin-right: auto;
      padding-top: 20px;
      font-size: medium;

      .agreeCheck {
        width: 19px;
        height: 19px;
        margin: 0px 15px 0px 0px;
        cursor: pointer;
        accent-color: black;
      }

      .agreeGuide {
        justify-content: start;

        .personalInfoAgreement:visited,
        .usingAgreement:visited {
          color: black;
        }
      }
    }
    .createUserBtnBox {
      display: flex;
      width: 100%;
      padding: 30px 0px;

      .createUserBtn {
        margin-left: auto;
        padding: 15px 20px;
        border: none;
        border-radius: 30px;
        background-color: black;
        color: white;
        font-size: medium;
        &:hover {
          background-color: gray;
          cursor: pointer;
        }
      }
    }
  }
}
