@import '../../../styles/mixin.scss';

.guest {
  @include flex(center, center);
  flex-direction: column;
  padding-top: 150px;
  gap: 40px;

  h1 {
    font-size: 35px;
  }

  .select {
    @include flex(center, center);

    .memberWrapper {
      @include flex(flex-start, center);
      flex-direction: column;
      width: 400px;
      height: 300px;
      padding: 20px 20px;
      gap: 10px;
      border-right: 1px solid lightgray;
    }

    .guestWrapper {
      @include flex(flex-start, center);
      flex-direction: column;
      width: 400px;
      height: 400px;
      padding: 20px 20px;
      border-bottom: 60px;
      gap: 10px;
      padding-left: 40px;
    }

    .guestBtn {
      width: 338px;
      height: 60px;
      background-color: black;
      border-radius: 30px;
      color: white;
    }
  }
}
