// .itemBox {
//   font-size: 14px;

//   .arrowBtn {
//     background-color: gray;
//   }

//   .shoesImg {
//     width: 500px;
//     height: 500px;
//   }

//   .shoesInfo {
//     display: flex;
//     justify-content: space-between;
//     width: 31%;
//     margin-top: 13px;
//   }

//   .category {
//     margin-top: 8px;
//     color: rgb(105, 104, 104);
//   }
// }

.container {
  width: 100%;
  padding-top: 40px;

  .titleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 48px;

    .title {
      font-size: 25px;
    }
  }
}

.imageWrapper {
  padding: 0 48px;
  padding-top: 16px;
  overflow-x: hidden;

  .shoesImg {
    width: 500px;
    height: 500px;
  }

  .shoesInfo {
    display: flex;
    justify-content: space-between;
    width: 31%;
    margin-top: 13px;
  }

  .category {
    margin-top: 8px;
    color: rgb(105, 104, 104);
  }
}

.image-mover {
  display: flex;
  width: 300%;
  transition: transform 0.5s ease-in-out;
}

.image {
  flex: 1;
  padding-right: 16px;
}

.image:last-child {
  padding-right: 0;
}

.image > img {
  width: 100%;
}
