.productDetail {
  // display: flex;
  // justify-content: center;
  .productDetailImges {
    width: 45%;
    margin-left: 15%;
    float: left;
    overflow: hidden;

    .productImgTopLeftFirst {
      width: 55%;
      float: left;
    }

    .productVideoTopLeftSecond {
      width: 40%;
      margin-left: 10px;
      float: left;
    }

    .productImgSecondLineLeft {
      width: 55%;
      margin-top: -262px;
      float: left;
    }

    .productImgSecondLineRight {
      width: 47%;
      margin-top: 10px;
      float: left;
    }

    .productImgThirdLineLeft {
      width: 47%;
      margin-top: 10px;
      margin-left: 20px;
      float: left;
    }
  }

  .productInfo {
    width: 20%;
    margin-left: 62%;

    .productName {
      font-size: 27px;
    }

    .productCategory {
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 14px;
    }

    .productPrice {
      float: left;
      font-size: 14px;
    }

    .OriginalPrice {
      margin-left: 80px;
      color: rgba(100, 99, 99, 0.864);
      font-size: 14px;
      text-decoration: line-through;
    }
  }

  .OtherColorContainer {
    margin-top: 12px;
    margin-left: 62%;

    .OtherColorBlack {
      width: 12%;
      margin-right: 10px;
      padding-top: 11px;
      padding-bottom: 11px;
      border: 1px solid rgba(0, 0, 0, 0.322);
      border-radius: 25px;
    }

    .OtherColorPink {
      width: 12%;
      margin-right: 10px;
      border: 1px solid rgba(0, 0, 0, 0.322);
      border-radius: 25px;
    }

    .OtherColorBlue {
      width: 12%;
      padding-top: 12px;
      padding-bottom: 12px;
      border: 1px solid rgba(0, 0, 0, 0.322);
      border-radius: 25px;
    }
  }

  .sizeHeader {
    display: inline-block;
    margin-top: 25px;
    margin-left: 35px;
    font-size: 14px;
  }

  .sizeGuide {
    display: inline-block;
    margin-top: 12px;
    margin-left: 170px;
    color: rgba(100, 99, 99, 0.864);
    font-size: 14px;
  }

  .sizeContainer {
    display: flex;
    flex-direction: row;
    width: 20%;
    margin-top: 12px;
    margin-left: 62%;
    gap: 7px;

    .size {
      width: 20%;
      padding-top: 15px;
      padding-bottom: 15px;
      border: 1px solid rgba(0, 0, 0, 0.322);
      border-radius: 8px;
      color: rgb(59, 58, 58);
      font-size: 14px;
      text-align: center;
    }
  }

  .cartBtn {
    width: 19%;
    height: 50px;
    margin-top: 30px;
    margin-left: 35px;
    border-radius: 50px;
    background-color: black;
    color: white;
  }

  .wishListBtn {
    width: 19%;
    height: 50px;
    margin-top: 20px;
    margin-left: 35px;
    border: 1px solid rgba(0, 0, 0, 0.322);
    border-radius: 50px;
    background-color: white;
  }

  .descriptionTop {
    width: 21.8%;
    margin-top: -36%;
    margin-right: 18.25%;
    float: right;
    color: rgb(59, 59, 59);
    font-size: 14px;
    line-height: 26px;
    vertical-align: topp;
  }

  .descriptionBottom {
    margin-top: -27.5%;
    margin-right: 23%;
    float: right;
    color: rgb(59, 59, 59);
    font-size: 14px;
    line-height: 26px;

    .colorDescription {
      list-style-type: disc;
    }

    .styleDescription {
      list-style-type: disc;
    }
  }

  .detailDescription {
    margin-top: -23%;
    margin-right: 31.2%;
    float: right;
    color: rgb(59, 59, 59);
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
  }

  .freeDelivery {
    margin-top: 20%;
    margin-left: 62%;
    font-size: 21px;
  }

  .review {
    margin-top: 1.7%;
    margin-left: 62%;
    font-size: 21px;
  }

  .moreInfo {
    margin-top: 1.7%;
    margin-left: 62%;
    font-size: 21px;
  }
}
