@import '../../../styles/mixin.scss';

.guestPayment {
  @include flex(center, center);
  flex-direction: column;

  .paymentParagraph {
    @include paymentTitle;
    padding-bottom: 50px;
  }

  .guestPaymentWrapper {
    @include flex(center, flex-start);
    width: 100vw;
    gap: 50px;
  }

  .disabledTitle {
    @include paymentTitle;
    padding: 20px;
    color: #757575;
  }
}
