@import '../../../../styles/mixin.scss';

.memberShippingOption {
  @include flex(flex-start, left);
  flex-direction: column;
  width: 660px;
  gap: 20px;
  padding-bottom: 20px;

  .titleWrapper {
    @include flex(space-between, center);

    .paymentTitle {
      @include paymentTitle;
      padding-bottom: 20px;
    }

    .edit {
      @include edit;
    }
  }

  .btnWrapper {
    @include flex(right, center);

    .paymentOptionBtn {
      @include btn;
      width: 120px;

      &:hover {
        @include btnHover;
      }
    }
  }
}
