@import 'src/styles/mixin';

.modalBox {
  position: absolute;
  width: 210px;
  height: 60px;
  margin-top: 10px;
  padding: 10px;
  background-color: gray;
  @include flex();

  .pointer {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: none;
    border-right: 10px solid transparent;
    border-bottom: 10px solid gray;
    border-left: 10px solid transparent;
    inset: auto 132px 100% auto;
  }
  .modalPara {
    color: white;
    font-size: 13px;
  }
}
