@import '../../../styles/mixin';

.search {
  display: flex;
  @include position(fixed, 0%, null, null, 0%);
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
  @include flex(space-between, center);

  .searchTop {
    @include flex(space-between, center);
    width: 100vw;
    padding: 20px;
  }

  .searchBarWide {
    align-items: center;
    width: 670px;
    height: 40px;
    padding: 0px 10px 0px 50px;
    border: none;
    border-radius: 100px;
    outline-style: none;
    background: url(../Search/images/search.png) center no-repeat;
    background-color: #f5f5f5;
    background-position: 10px;
    font-size: 17px;

    &::placeholder {
      font-size: 17px;
    }

    &:hover {
      background-color: #e5e5e5;
    }
  }

  .back {
    border: none;
    background-color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
  }
}
