@import '../../../styles/mixin.scss';

.memberPayment {
  @include flex(center, center);
  flex-direction: column;

  .paymentParagraph {
    @include paymentTitle;
    padding-bottom: 50px;
  }

  .memberPaymentWrapper {
    @include flex(center, flex-start);
    width: 100vw;
    gap: 50px;
  }
}
