@import '../../../styles/mixin';
$cursor: pointer;

.trending {
  // .trendingImgContainer {
  display: block;
  // width: 70%;
  margin: auto;
  cursor: $cursor;

  .trendingText {
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 15%;
    font-size: 25px;
    font-weight: bold;
  }

  .trendingImgContainer {
    margin-left: 15%;

    .trendingImgLeft {
      width: 42.6%;
    }

    .trendingImgRight {
      width: 38%;
    }
  }
}

.trendingInfo {
  @include flex(space-between);
  width: 500px;
  margin-left: 200px;
  .comfortTop {
    // position: absolute;
    margin-top: -120px;
    margin-left: 147px;
    color: white;
    font-size: 18px;
  }

  .comfortTopBuyBtn {
    // position: absolute;
    width: 70px;
    height: 35px;
    margin-top: -80px;
    margin-left: 150px;
    border-radius: 50px;
    border-color: white;
    background-color: white;
    color: rgb(96, 96, 96);
    cursor: $cursor;
  }

  .blazer {
    // position: absolute;
    margin-top: -120px;
    margin-left: 837px;
    color: white;
    font-size: 18px;
  }

  .blazerBuyBtn {
    // position: absolute;
    width: 70px;
    height: 35px;
    margin-top: -80px;
    margin-left: 820px;
    border-radius: 50px;
    border-color: white;
    background-color: white;
    color: rgb(96, 96, 96);
    cursor: $cursor;
  }
}
