@mixin flex($justify: center, $align: center) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupContainer {
  @include flex();
  flex-direction: column;

  .membershipBox {
    margin: 50px auto 50px 45px;
    .membership {
      font-size: larger;
    }
  }

  .titleBox {
    flex-direction: column;
    max-width: 1000px;
    @include flex();

    .title {
      font-size: 50px;
      font-weight: 800;
    }

    .titlePara {
      margin: 20px 0px;
      line-height: 150%;
      text-align: center;
    }

    .joinMembershipBtnBox {
      display: flex;
      justify-content: center;
      padding: 30px 0px;

      .joinMembershipBtn {
        padding: 10.5px 20px;
        border: none;
        border-radius: 30px;
        background-color: black;
        color: white;
        font-size: medium;
      }

      .joinMembershipBtn:hover {
        background-color: gray;
        cursor: pointer;
      }
    }
  }
  .videoBox {
    width: 90%;
    border: 1px solid black;

    .video {
      height: 300px;
    }
  }

  .memBenefitBox {
    width: 90%;
    .memBenefit {
      font-size: 20px;
      font-weight: 600;
    }
    .welcomeCoupon {
      .welcomeImage {
        width: 50%;
        min-width: 420px;
        height: 400px;
        border: 1px solid black;
      }
    }
  }
}
