@import '../../../styles/mixin';
$cursor: pointer;

.infinite {
  .infiniteVideo {
    display: block;
    width: 70%;
    height: 30%;
    margin: auto;
    margin-top: 80px;
    cursor: $cursor;
  }

  .experiment {
    margin-top: 80px;
    margin-bottom: 22px;
    text-align: center;
    cursor: $cursor;
  }

  .infiniteText {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    cursor: $cursor;
  }

  .infiniteTextDetailFirst {
    margin-bottom: 8px;
    text-align: center;
    cursor: $cursor;
  }

  .infiniteTextDetailSecond {
    margin-bottom: 35px;
    text-align: center;
    cursor: $cursor;
  }

  .infiniteBuyBtn {
    width: 70px;
    height: 35px;
    margin-left: 48%;
    border-radius: 50px;
    background-color: black;
    color: white;
    cursor: $cursor;
  }
}
