@import '../../../styles/mixin.scss';

.menuBox {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  margin: auto;

  .menuBoxWrapper {
    @include flex(space-around, flex-start);
    flex-direction: row;
    width: 100vw;
    padding: 80px 50px;

    .itemWrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .itemList {
        cursor: pointer;

        &[id='0'] {
          font-weight: bold;
        }
      }
    }
  }
}
