@import '../../styles/mixin.scss';

.nav {
  @include flex(space-between, center);
  padding: 0px 50px;
  height: 80px;
  margin-bottom: 90px;

  .logoWrapper {
    .logo {
      width: 60px;
      cursor: pointer;
    }
  }

  .menuWrapper {
    @include flex(space-between, center);
    position: relative;
    width: 750px;
    height: 80px;
    margin-left: 80px;

    .menuLists {
      @include flex(space-between, center);
      gap: 25px;
      list-style: none;

      .toProductList {
        color: black;

        .menuList {
          float: left;
          padding: 10px;
          font-weight: bold;
          cursor: pointer;

          &:hover {
            padding-bottom: 5px;
            border-bottom: 2px solid black;
          }
        }
      }
    }
  }

  .functionWrapper {
    @include flex(center, center);
    gap: 20px;

    .searchBar {
      width: 180px;
      height: 40px;
      padding: 0px 10px 0px 60px;
      border-radius: 100px;
      border: none;
      background: url(./Search/images/search.png) center no-repeat;
      background-position: 10px;
      background-color: #f5f5f5;
      outline-style: none;
      font-size: 17px;

      &::placeholder {
        font-size: 17px;
      }

      &:hover {
        background-color: #e5e5e5;
      }
    }

    .navIcon {
      cursor: pointer;
    }
  }
}
