@import '../variables';
@mixin spacing {
  letter-spacing: 1px;
  word-spacing: 1px;
}

.benefitBox {
  @include flex(start);
  flex-direction: column;

  .imageWrapper {
    width: 100%;
    height: 500px;
    overflow: hidden;

    .benefitImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &:hover {
    cursor: pointer;
  }
  .benefitInfo {
    width: 100%;
    max-width: 600px;
    margin: 30px 0px;

    .benefitTitle {
      margin: 20px 0px;
      padding: 0px 20px;
      font-size: 20px;
      font-weight: 600;
    }
    .benefitPara {
      max-width: 500px;
      padding: 0px 20px;
      @include spacing();
      line-height: 130%;
    }

    .benefitBtn {
      margin: 30px 0px;
      padding: 0px 20px;
      border: none;
      background-color: transparent;
      font-size: medium;
      text-decoration: underline;
    }

    .benefitBtn:hover {
      transition: 0.5s;
      color: gray;
      cursor: pointer;
    }
  }
}
