@mixin flex($justify: center, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin spacing {
  letter-spacing: 1px;
  word-spacing: 1px;
}

.communityBox {
  @include flex(start);
  flex-direction: column;

  .communityImage {
    width: 95%;
    height: 500px;
    border: 1px solid black;
  }
  .communityInfo {
    width: 100%;
    max-width: 600px;
    .communityTitle {
      justify-content: start;
      margin: 20px 0px;
      padding: 0px 20px;
      font-size: 20px;
      font-weight: 600;
    }
    .communityPara {
      max-width: 500px;
      padding: 0px 20px;
      @include spacing();
      line-height: 130%;
    }

    .communityBtn {
      padding: 10.5px 20px;
      border: none;
      border-radius: 30px;
      background-color: black;
      color: white;
      font-size: medium;
    }

    .communityBtn:hover {
      transition: 0.5s;
      background-color: gray;
    }
  }
}
