@import 'src/styles/mixin';
@mixin spacing {
  letter-spacing: 1px;
  word-spacing: 1px;
}

.moreBenefitBox:hover {
  cursor: pointer;
}
.moreBenefitBox {
  flex-direction: column;
  @include flex(start);

  .imageWrapper {
    width: 100%;
    height: 600px;

    .moreBenefitImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .moreBenefitInfo {
    width: 100%;
    max-width: 600px;

    .moreBenefitTitle {
      margin: 20px 0px;
      padding: 0px 20px;
      font-size: 20px;
      font-weight: 600;
    }
    .moreBenefitPara {
      max-width: 500px;
      padding: 0px 20px;
      @include spacing();
      line-height: 130%;
    }

    .moreBenefitBtn {
      margin: 30px 0px;
      padding: 0px 20px;
      border: none;
      background-color: transparent;
      font-size: medium;
      text-decoration: underline;
    }
  }
}
