@mixin flex($justify: center, $align: center) {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin spacing {
  letter-spacing: 1px;
  word-spacing: 1px;
}

.moreBenefitBox {
  display: flex;
  flex-direction: column;
  width: 33%;
  @include flex();

  .moreBenefitImage {
    width: 95%;
    height: 400px;
    border: 1px solid black;
  }
  .moreBenefitInfo {
    width: 100%;
    max-width: 600px;

    .moreBenefitTitle {
      margin: 20px 0px;
      padding: 0px 20px;
      font-size: 20px;
      font-weight: 600;
    }
    .moreBenefitPara {
      max-width: 500px;
      padding: 0px 20px;
      @include spacing();
      line-height: 130%;
    }

    .moreBenefitBtn {
      margin: 30px 0px;
      padding: 0px 20px;
      border: none;
      background-color: transparent;
      font-size: medium;
      text-decoration: underline;
    }
  }
}
