@import '../../../styles/mixin';

.searchBox {
  .filteredListWrapper {
    display: flex;
    z-index: 1;
    @include position(fixed, 8%, null, null, 0%);
    justify-content: center;
    width: 100vw;
    padding: 80px 0px 80px 10px;
    background-color: white;

    .filteredItem {
      @include flex(center, left);
      flex-direction: column;
      width: 20%;
      height: 60%;
      gap: 10px;

      .productImg {
        width: 50%;
        padding-bottom: 40px;
      }

      .productImg .productPrice {
        font-size: 13px;
        font-weight: bold;
      }

      .productGender {
        color: gray;
        font-size: 12px;
      }
    }
  }

  .mostSearchedWrapper {
    display: flex;
    z-index: 1;
    @include position(fixed, 8%, null, null, 0%);
    justify-content: center;
    width: 100vw;
    padding: 10px 0px 10px 120px;
    background-color: white;

    .termWrapper {
      width: 670px;
    }

    .mostSearchedTerm {
      margin-bottom: 15px;
      color: gray;
      font-size: 15px;
    }

    .term {
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .blur {
    @include position(fixed, null, null, null, 0%);
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: gray;

    &::after {
      @include position(fixed, null, null, null, 0%);
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-color: gray;
    }
  }
}
