@import '../../../styles/mixin';
$cursor: pointer;
.dan {
  cursor: $cursor;
  .danParis {
    display: block;
    width: 70%;
    margin: auto;
    margin-top: 80px;
  }

  .danText {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }

  .danTextDetail {
    margin-bottom: 35px;
    text-align: center;
  }

  .danParisBuyBtn {
    width: 70px;
    height: 35px;
    margin-left: 48%;
    border-radius: 50px;
    background-color: black;
    color: white;
    cursor: $cursor;
  }
}
