@import '../../../styles/mixin.scss';

.paymentAside {
  @include flex(center, left);
  flex-direction: column;
  float: right;

  .cartWrapper {
    @include flex(space-between, center);
    width: 360px;
    padding-bottom: 30px;

    .paymentTitle {
      @include paymentTitle;
    }

    .edit {
      @include edit;
    }
  }

  .cartDescWrapper {
    @include flex(space-between, center);
    width: 360px;
    padding-bottom: 10px;
  }

  .date {
    padding: 30px 0px;
    font-weight: bold;
  }

  .productImg {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }

  .productWrapper {
    display: flex;
    width: 360px;
    gap: 40px;

    .productDescWrapper {
      p {
        padding-bottom: 10px;
      }

      li {
        color: gray;
      }
    }
  }
}
